<div style="margin: 150px;">
  <a
    nz-button
    nzType="link"
    nu-clipboard
    nuClipboardContent="123444"
    nuClipboardTooltipPlacement="bottom">
    <i nz-icon nzType="copy" nzTheme="outline"></i>
  </a>
</div>

<nu-table [columns]="columns" [data]="data"></nu-table>
<router-outlet></router-outlet>

<formly-form
  [model]="model"
  [fields]="fields"
  [options]="options"
  [form]="form">
</formly-form>
<ng-template #hintStart>hintStart accepts strings and TemplateRefs and is aligned to start</ng-template>
<ng-template #hintEnd>hintEnd accepts strings and TemplateRefs and is aligned to end</ng-template>
